{% extends "back/layout.html" %}
{% block body %}
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="../image/ico_site.jpg"  id="ico_site"/>
				网站路径：<a href="home.html">首页</a>&gt;&gt;<a href="category_list.html">商品目录</a>&gt;&gt;<a href="">商品目录编辑</a>
			</div>
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>编辑商品目录</strong></div>
			<div id="sendnotecontent">
			<form action="" method="post"  name="form1" enctype="multipart/form-data" onsubmit="return checkcategoryform()">
				<table id="itemsearch">
				   <tr>
					<th width="180">目录名称：</th>
            		<td width="360">
					 <input type="Text" name="name" class="inputtext" onFocus="nextfield='password'" value="{{ origin_info_set['dir_name'] }}" maxlength="25">					</td><td width="142"><span class="red">*必输项</span></td>
          		 </tr>
				 <tr>
				 <th>父目录：</th>
            		<td>
					<select name = "parent">
              			<option value="">请选择</option>
						{% if top_level %}
							{% for l in top_level %}
								<option value = "{{ l.id }}">{{ l.dir_name }}</option>
							{% endfor %}
						{% endif %}
            	    </select>
					</td>
          		 </tr>
				 <tr>
				 <th>目录描述：</th>
				 <td>
				 <textarea name="description" class="textAreaStyle">{{ origin_info_set['description'] }}</textarea>
				 </td>
          		 </tr>
          		 
				 <tr>
				 <th>目录图片：</th>
         	 	    <input type="file" name="file">&nbsp;</td>
          		 </tr>
          		
				 <tr>
				 <th></th>
			 	  <td>
				  <input type="submit" name="button2" value="提交">
				  <input type="Reset" name="button1" value="重填" onClick="clear()">
				  <input type="Button" name="button22" value="返回" onClick="javascript:window.location.href='/edit_dir'">				  
				  </td> </tr>
        </table>
		</form>
				
			</div>
		</div>
{% endblock %}
