
{% extends "back/layout.html" %}
{% block body %}
<script language="javascript">
function show(table,sum){
var t;
t=document.getElementById(table);
  if(t.style.display=="") {
 t.style.display="none";
  } 
 else {
  t.style.display="";
 }
 for(i=0;i<sum;i++){
 if(("t"+i)!=table){
 t=document.getElementById("t"+i);
 t.style.display="none";
   }
  }
}

function checkselectno(){
var el = document.getElementsByTagName('input');
var len = el.length;
var checkno=0;
for(var i=0; i<len; i++)
  {
  if((el[i].type=="checkbox") && (el[i].checked==true))   
     checkno++;   
  }
if(checkno==1)
  {window.location.href="category_edit.html";
   return true;
  }
else
  {
  window.alert("请先选择目录！");
  return false;
  }

}

function checkdelno(){
var el = document.getElementsByTagName('input');
var len = el.length;
var checkno=0;
for(var i=0; i<len; i++)
  {
  if((el[i].type=="checkbox") && (el[i].checked==true))   
     {checkno=1;
   break;  }
  }
if(checkno==1)
  {
  if(window.confirm("确定删除？"))
     return true;
   else
     return false;
  }
 
else
  {
  window.alert("请先选择目录！");
  return false;
  }

}
</script>
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="../image/ico_site.jpg"  id="ico_site"/>
				网站路径：<a href="home.html">首页</a>&gt;&gt;<a href=""> 商品管理</a>
			</div>
		</div>
		<div id="double1">
			<div id="doublehead1"><strong>现有目录列表</strong></div>
			<div id="doublecontent1">
			<form action="" method="post" name="form1" onsubmit="return checkselectno()">
				<table id="xialabiao">
        {% for l in top_level %}
        <tr>
          <td align="right" class="inputHeader"><label>
          <input type="checkbox" name="cate" value = "{{ l.id }}">
          </label></td>
          <td align="left" class="inputHeader"><a href="javascript:show('t{{ top_level.index(l) }}',8)" class="menuLink">{{ l.dir_name }}</a> </td>
        </tr>
        <tr id="t{{ top_level.index(l) }}" style="display:none">
          <td colspan="3"><table class="inputTable" border="0" cellpadding="0" cellspacing="0" width="100%">
            {% for k in l.kids.all() %}
              <tr>
                <td width="4%" align="right" class="inputContent"><input type="checkbox" name="kid_cate" value="{{ k.id }}"></td>
                <td width="92%" class="inputContent">{{ k.dir_name }}</td>
            {% endfor %}
          </table></td>
        </tr>
        {% endfor %}
        <tr>
          <td align="center" class="inputHeader">&nbsp;</td>
		   
          <td class="xlbright">
<input type="submit" name="remove" value="删除目录">&nbsp;&nbsp;
<input type="submit" name="edit" value="编辑目录"></td>

				</tr>
            </table>
            </form>
			</div>
			</div>
			
			


</div>
{% endblock %}
