{% extends 'back/layout.html' %}
{% block body %}

	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="../image/ico_site.jpg"  id="ico_site"/>
				网站路径：<a href="home.html">首页</a>&gt;&gt;<a href="">管理员登录</a>
			</div>
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong> 管理员登录</strong></div>
			<div id="sendnotecontent">
			{% if error %}
			{{ error }}
			{% endif %}
			<form action="/admin_login" method="post" onsubmit="return checkloginform()" name="form1">
				<table id="itemsearch">
				   <tr>
					<th class="itemsearchth" >用户名：</th>
            		<td class="itemsearchtd1">
					<input type="Text" class="inputtext" name="account" onFocus="nextfield='name'" value="" maxlength="25">
					</td>
					<td class="itemsearchtd2">
					</td>
          		 </tr>
				 <tr>
				 <th class="itemsearchth">密&nbsp;&nbsp;&nbsp;码：</th>
            		<td class="itemsearchtd1">
					<input type="password" class="inputtext" name="password" onFocus="nextfield='name'" value="" maxlength="25">
					</td>
					<td class="itemsearchtd2">&nbsp;</td>
          		 </tr>
				
				 <tr>
				 <th></th>
				 	<td> <input type="submit" name="button2" value="登录">
						&nbsp;<input type="Reset" name="button1" value="重填" onClick="clear()">
						&nbsp;
					</td>
				 </tr>
        </table>
		</form>		
			</div>
		</div>
		
{% endblock %}