<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>BC2商城</title>
<link href="{{ url_for('static', filename='back/css/frame.css') }}" rel="stylesheet" type="text/css">
   </head>

<body>
<div id="container">
	<div id="logalleft">
		<div id="logalright">
		<a href="" target="_parent">管理员 已登录|</a>
	 	<a href="home.html" target="_parent">退出</a>
		</div>
	</div>
	<div id="globallink">
		<ul>
			<li><a href="home.html">首页</a></li>
			<li><a href="category_list.html">商品管理</a></li>
			<li><a href="order_admin.html">订单管理</a></li>
			<li><a href="salesdata_admin.html">销售量统计</a></li>
			<li><a href="user_admin.html">会员管理</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
		</ul>
	</div>
	<div id="banner"></div>
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="../image/ico_site.jpg"  id="ico_site"/>
				网站路径：<a href="home.html">首页</a>&gt;&gt;<a href="#">商品详细信息</a>
			</div>
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>商品信息</strong></div>
			<div id="sendnotecontent">
				<table id="creditquery">
				<caption>
				大学物理学.第四册：波动与光学（第2版）
				</caption>
				<tbody>
				<tr>
          <td><img src="../image/dxwl4.jpg" alt="大学物理第四册" class="picture1"></td>
          <td colspan="4" class="tdleftalign">本书是清华大学教材《大学物理学》的第四册，讲述振动与波的一般基本规律和波动光学的基本原理，包括光的干涉、衍射和偏振。除了基本内容外，还专题介绍了全息照相、光学信息处理、液晶等今日物理趣闻和著名物理学家托马斯・杨和菲涅耳的传略。基本内容扼要，附加内容通俗易懂。   本书可作为高等院校的大学物理教材，也可以作为中学物理教师教学或其他读者自学的参考书。</td>
        </tr>
        <tr>
          <td>市场价：￥10.00</td>
          <td>会员价：￥8.50</td>
		  <td>节省：￥1.50</td>
		  <td>库存量：20</td>
		  <td>用户评分：<img src="../image/4star.JPG" alt="喜欢" class="picture"></td>
        </tr>
		<tr>
		  <td></td>
          <td></td>
		  <td></td>
		  <td></td>
		<td><a href="comment_list.html">【查看用户详细评论】</a>
		</tr>
				 </tbody>
            </table>	
			</div>
		</div>
		
	<div id="footer">
		<span id="footerleft"> &nbsp;隐私权 | 版权 | 法律声明 | 电子邮件：admin@163.com </span>
		<span id="footerright"> B2C商城  Power by IBM &nbsp;</span>
	</div>
</div>

</body>
</html>
