{% extends "back/layout.html" %}
{% block body %}
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="../image/ico_site.jpg"  id="ico_site"/>
				网站路径：<a href="category_list.html">商品管理</a>&gt;&gt;<a href="#"> 商品列表</a>
			</div>
		</div>
		<div id="double1">
			<div id="doublehead1"><strong>商品列表</strong></div>
			<div id="doublecontent1">
			<form action="{{ url_for('add_item') }}" method="post"  name="form1"  onsubmit = "return checkitemform()">
				<table id="xialabiao">
				<tr>
		{% for i in items %}
				
		  
          <tr>
            <td width="7%" rowspan="4" align="center"><span class="red">{{ items.index(i) }}</span></td>
            <!--<td width="16%" rowspan="4" align="center" class="inputHeader"><img src="../image/dxwl2.jpg" alt="大学物理第2册" width="70" height="100"></td>
			-->
			<td align="left" class="inputHeader"><span class="red">{{ i.item_name }}</span></font></td>
			</tr>
          <tr>
            <td align="left" class="inputHeader">市场价：{{ i.price }}</td>
          </tr>
          <tr>
            <td align="left" class="inputHeader">会员价：{{ i.price * i.discount }}</td>
          </tr>
          <tr>
            <td align="left" class="inputHeader"><a href="{{ url_for('edit_item', id = i.id ) }}"><img src="{{ url_for('static', filename = 'back/image/bt_change.gif') }}" alt="修改" width="37" height="19" border="0"></a>&nbsp;&nbsp;
		<a href="{{ url_for('remove_item', id = i.id) }}" ><img src="{{ url_for('static', filename = 'back/image/bt_delete.gif') }}" alt="删除" width="37" height="19" border="0"></a></td>
          </tr>

          {% endfor %}
            </table>
			</div>
			</div>
			
			
			
			<div id="double2">
			<div id="doublehead2"><strong>添加商品</strong></div>
			<div id="doublecontent2">
				<table id="itemsearch">
				   <tr>
					<th width="181">商品名称：</th>
            		<td width="390">
					 <input type="Text" class="inputttextlarge" name="name" onFocus="nextfield='name'" value="" maxlength="25"></td>
					 
					 <td width="211"><span class="red">*必输项</span></td>
          		 </tr>
				 <tr>
				 <th>商品描述：</th>
				 <td><textarea name="description" class="textAreaStyle"></textarea></td>
				 <td></td>
          		 </tr>
          		 <input type="text" name="cate_id" value="{{ cate_id }}"  style="display:none;"/>
				 <tr>
				 <!--
				 <th><span class="inputHeader">商品图片：</span></th>
					<td>
         	 	    <input type="file" name="pic">&nbsp;<input type="submit" name="Submit" value="上传"></td>
					<td></td>
          		 </tr>
          		-->
				  <tr>
				 <th>市场价：</th>
					<td><input type="text" name="price" class="smallinputext" value=""></td>
					<td><span class="red">*必输项</span></td>
          		 </tr>
				 <tr>
				 <th>库存量：</th>
				 <td>
				 <input type="text" name="storage" class="smallinputext" value="">				 </td>
				 <td><span class="red">*必输项</span></td>
				 <tr>
				 <th>折扣：</th>
				 <td>
				 <input type="text" name="discount" class="smallinputext" value="">				 </td>
				  <td><span class="red">*必输项</span></td>
				 </tr>
				 <tr>
				 <th></th>
			 	  <td>
				 <input type="submit" name="button2" value="添加">
				 <input type="Reset" name="button1" value="重填" onClick="clear()">
				  </td> 
				  <td></td>
				  </tr>
        </table>
		</form>
			</div>

</div>
{% endblock %}