<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>BC2商城</title>
<link href="{{ url_for('static', filename='back/css/frame.css') }}" rel="stylesheet" type="text/css"/>
<script language="javascript" src="{{ url_for('static', filename='back/js/checkform.js') }}">

</script>

</head>

<body>
<div id="container">
	<div id="logalleft">
		<div id="logalright">
		<a href="" target="_parent">管理员 已登录|</a>
	 	<a href="home.html" target="_parent">退出</a>
		</div>
	</div>
	<div id="globallink">
		<ul>
			<li><a href="home.html">首页</a></li>
			<li><a href="category_list.html">商品管理</a></li>
			<li><a href="order_admin.html">订单管理</a></li>
			<li><a href="salesdata_admin.html">销售量统计</a></li>
			<li><a href="user_admin.html">会员管理</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
		</ul>
	</div>
	<div id="banner"></div>
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="../image/ico_site.jpg"  id="ico_site"/>
				网站路径：<a href="category_list.html">商品管理</a>&gt;&gt;<a href="item_list.html">商品列表</a>&gt;&gt;<a href="">商品编辑</a>
			</div>
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>编辑商品</strong></div>
			<div id="sendnotecontent">
			<form action="" method="post" onsubmit ="return checkitemform()" name="form1">
				<table id="itemsearch">
				   <tr>
					<th width="180">商品名称：</th>
            		<td width="360">
					 <input type="Text" class="inputttextlarge" name="name" onFocus="nextfield='name'" value="{{ item.item_name }}" maxlength="25"></td>
					 
					 <td width="142"><span class="red">*必输项</span></td>
          		 </tr>
				 <tr>
				 <th>商品描述：</th>
				 <td><textarea name="desc" class="textAreaStyle">{{ item.description }}</textarea></td>
				 <td></td>
          		 </tr>
          		 <!--
				 <tr>
				 <th><span class="inputHeader">商品图片：</span></th>
					<td><img src="../image/dxwl4.jpg" alt="大学物理第4册" class="picture1"><br>
         	 	    <input type="file" name="pic">&nbsp;<input type="submit" name="Submit" value="上传"></td>
					<td></td>
          		 </tr>
          		 -->
				 <tr>
				 <th>市场价：</th>
					<td><input type="text" name="price" class="smallinputext" value="{{ item.price }}"></td>
					<td><span class="red">*必输项</span></td>
          		 </tr>
				 <tr>
				 <th>库存量：</th>
				 <td>
				 <input type="text" name="count" class="smallinputext" value="{{ item.count }}">				 </td>
				 <td><span class="red">*必输项</span></td>
				 <tr>
				 <th>折扣：</th>
				 <td>
				 <input type="text" name="discount" class="smallinputext" value="{{ item.discount }}">				 </td>
				  <td><span class="red">*必输项</span></td>
				 </tr>
				 <tr>
				 <th></th>
			 	  <td>
				 <input type="submit" name="button2" value="提交" ">
				 	<input type="Reset" name="button1" value="重填" onClick="clear()">
				 </td> 
				  </tr>
        </table>
		</form>
				
			</div>
		</div>
		
	<div id="footer">
		<span id="footerleft"> &nbsp;隐私权 | 版权 | 法律声明 | 电子邮件：admin@163.com </span>
		<span id="footerright"> B2C商城  Power by IBM &nbsp;</span>
	</div>
</div>

</body>
</html>
