<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>BC2商城</title>
<link href="{{ url_for('static', filename='back/css/frame.css') }}" rel="stylesheet" type="text/css"/>
<script language="javascript" src="{{ url_for('static', filename='back/js/checkform.js') }}"></script>
</head>

<body>
<div id="container">
	<div id="logalleft">
		<div id="logalright">
		</div>
	</div>
	<div id="globallink">
		<ul>
			<li><a href="/add_dir">首页</a></li>
			<li><a href="/edit_dir">商品管理</a></li>
			<li><a href="/order_admin">订单管理</a></li>
			<li><a href="/salesdata_admin">销售量统计</a></li>
			<li><a href="/manage_user">会员管理</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
		</ul>
	</div>
	<div id="banner"></div>
	{% block body %}{% endblock %}
		<div id="footer">
		<span id="footerleft"> &nbsp;隐私权 | 版权 | 法律声明 | 电子邮件：admin@163.com </span>
		<span id="footerright"> B2C商城  Power by IBM &nbsp;</span>
	</div>
</div>

</body>
</html>