{% extends 'back/layout.html' %}
{% block body %}
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}" id="ico_site"/>
				网站路径：订单管理
			</div>	
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>订单查询</strong></div>
			<div id="sendnotecontent">
			<form action="/order_list" method="post" onsubmit="checkloginform()" name="form1">
				<table id="tradequery">
					<tr>
					<th>订&nbsp;&nbsp;单&nbsp;&nbsp;号：	</th>
					<td><input type="Text" class="inputtext" name="order" onFocus="nextfield='webUserEntity.order'" maxlength="25"></td>
					</tr>
					<tr>
					<th>客&nbsp;&nbsp;户&nbsp;&nbsp;号：</th>
					<td><input type="Text" class="inputtext" name="user" onFocus="nextfield='webUserEntity.order'" maxlength="25"></td>
					</tr>
				   <tr>
					<th>起始时间：&nbsp;</th>
            		<td>
						<select name="loweryear">
              				<option>2007</option>
              				<option>2006</option>
              			</select>
						&nbsp;年&nbsp;
						<select name="lowermonth">
              				<option>01</option>
             				<option>02</option>
              				<option>03</option>
              				<option>04</option>
			  				<option>05</option>
              				<option>06</option>
							<option>06</option>
							<option>07</option>
             				<option>08</option>
              				<option>09</option>
              				<option>10</option>
			  				<option>11</option>
              				<option>12</option>
            			</select>
						&nbsp;月&nbsp;
						<select name="lowerday">
              				<option>01</option>
              				<option>02</option>
              				<option>03</option>
              				<option>04</option>
			  				<option>05</option>
              				<option>06</option>              
            			</select>
						&nbsp;日
					</td>
          		 </tr>
				 <tr>
				 <th>结束时间：&nbsp;</th>
            		<td>
						<select name="upperyear">
              				<option>2014</option>
              				<option>2013</option>
              			</select>
						&nbsp;年&nbsp;
						<select name="uppermonth">
              				<option>01</option>
             				<option>02</option>
              				<option>03</option>
              				<option>04</option>
			  				<option>05</option>
              				<option>06</option>
							<option>07</option>
             				<option>08</option>
              				<option>09</option>
              				<option>10</option>
			  				<option>11</option>
              				<option>12</option>
            			</select>
						&nbsp;月&nbsp;
						<select name="upperday">
              				<option>01</option>
              				<option>02</option>
              				<option>03</option>
              				<option>04</option>
			  				<option>05</option>
              				<option>06</option>
							<option>07</option>
							<option>08</option>
							<option>09</option>              
            			</select>
						&nbsp;日
					</td>
          		 </tr>
				 <tr>
				 <th></th>
				 	<td><input type="submit" name="button22" value="查询">
					<input type="Reset" class="bt2" name="button2" value="重填"><td>
				 </tr>
        </table>
		</form>  		
			</div>
		</div>
		
{% endblock %}