{% extends 'back/layout.html' %}
{% block body %}
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="../image/ico_site.jpg" id="ico_site"/>
				网站路径：<a href="order_admin.html">订单管理</a>&gt;&gt;订单查询结果</div>
		
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>查询结果</strong></div>
			<div id="sendnotecontent">
			<form action="/order_approve" method="post" name="form1"  onsubmit="return checkorderselect()">
				<table id="favorite">
				<thead>
					<tr>
						<th></th>
						<th>订单号</th>
						<th>客户号</th>
						<th>下单时间</th>
						<th>订单状态</th>
						<th>处理情况</th>
						<th>详情</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
				  <tr>
				  	<td><input type="radio" name="order_id" value="{{ order.id }}"></td>
					<td>{{ order.id }}</td>
            		<td>{{ email[orders.index(order)]}}</td>
					<td>{{ order.date }}</td>
					{% if order.status == 0 %}
					<td>待支付</td>
					{% elif order.status == 1 %}
					<td>正在支付</td>
					{% else %}
					<td>已支付</td>
					{% endif %}
					{% if order.is_confirm %}
					<td>已审核</td>
					{% else %}
					<td>未审核</td>
					{% endif %}
					<td><a href="/order_info/{{ order.id }}"><img src="../image/xq.gif" alt="详情" class="picture"></a></td>
          		  </tr>
					{% endfor %}
				  <tr>
				  	<td></td>
					<td></td>
            		<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><input type="submit" class="bt2" name="button22" value="审核"></td>
          		  </tr>
				
				 </tbody>
            </table>
			</form> 
			</div>
		</div>

{% endblock %}
