{% extends "back/layout.html" %}
{% block body %}
<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}" id="ico_site"/>
				网站路径：<a href="">销售量统计</a>
			</div>
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>销售量查询</strong></div>
			<div id="sendnotecontent">
				<form action="/do_salesdata" method="post" name="form1">
				<table id="tradequery">
				   <tr>
					<th>起始时间:&nbsp;</th>
            		<td>
						<select name="lower_year">
              				<option value="2007">2007</option>
              				<option value="2006">2006</option>
              			</select>
						&nbsp;年&nbsp;
						<select name="lower_month">
              				<option value="1">01</option>
             				<option value="2">02</option>
              				<option value="3">03</option>
              				<option value="4">04</option>
			  				<option value="5">05</option>
              				<option value="6">06</option>
            			</select>
						&nbsp;月&nbsp;
						<select name="lower_day">
              				<option value="1">01</option>
              				<option value="2">02</option>
              				<option value="3">03</option>
              				<option value="4">04</option>
			  				<option value="5">05</option>
              				<option value="6">06</option>              
            			</select>
						&nbsp;日
					</td>
          		 </tr>
				 <tr>
				 <th>结束时间:&nbsp;</th>
            		<td>
						<select name="upper_year">
              				<option value="2015">2015</option>
              				<option value="2014">2014</option>
              			</select>
						&nbsp;年&nbsp;
						<select name="upper_month">
              				<option value="1">01</option>
             				<option value="2">02</option>
              				<option value="3">03</option>
              				<option value="4">04</option>
			  				<option value="5">05</option>
              				<option value="6">06</option>
            			</select>
						&nbsp;月&nbsp;
						<select name="upper_day">
              				<option value="1">01</option>
              				<option value="2">02</option>
              				<option value="3">03</option>
              				<option value="4">04</option>
			  				<option value="5">05</option>
              				<option value="6">06</option>              
            			</select>
						&nbsp;日
					</td>
          		 </tr>
				 <tr>
				 <th>类别：</th>
            		<td>
					  	<select name="category">
			    <option value="">所有类别</option>
				{% for dir in g.top_dir %}
					<option value = "{{ dir.id }}">{{ dir.dir_name }}</option>
                {% endfor %}
              </select> 
					</td>
          		 </tr>
				 <tr>
				 <th></th>
				 	<td><input type="submit" class="bt2" name="button22" value="查询"><td>
				 </tr>
        </table>
		</form>  		
			</div>
		</div>
		

{% endblock %}
