{% extends 'back/layout.html' %}
{% block body %}
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}" id="ico_site"/>
				网站路径：<a href="/salesdata_admin">销售量统计</a>&gt;&gt;<a href="#">销售量查询结果</a></div>
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>查询结果</strong></div>
			<div id="sendnotecontent">
			<form action="" method="post" enctype="multipart/form-data" name="form1">
				<table id="favorite">
				<thead>
					<tr>
						<th>商品代码</th>
						<th>商品名称</th>
						<th>销售数量</th>
						<th>销售单价</th>
						<th>销售总价</th>
					</tr>
				</thead>
				<tbody>
				{% for i in items.keys() %}
				  <tr>
            		<td>{{ i.id }}</td>
					<td><a href="/item_info/{{ i.id }}">{{ i.item_name }}</a></td>
					<td>{{ items[i] }}</td>
					<td>￥{{ i.price }}</td>
					<td>￥{{ i.price * items[i] }}</td>
          		  </tr>
          		  {% endfor %}
				<td></td><td></td><td></td>
					<td>总销售额：</td>
					<td><span class="red">￥{{ total }}</span></td>
          		  </tr>
				 </tbody>
            </table>
			</form> 
			</div>
		</div>
		
{% endblock %}