<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>BC2商城</title>
<link href="{{ url_for('static', filename='back/css/frame.css') }}" rel="stylesheet" type="text/css">
<script language="javascript">
function clear(){
document.form1.webUserEntity.user="";
document.form1.webUserEntity.order="";
}
</script>
   </head>

<body>
<div id="container">
	<div id="logalleft">
		<div id="logalright">
		<a href="" target="_parent">管理员 已登录|</a>
	 	<a href="home.html" target="_parent">退出</a>
		</div>
	</div>
	<div id="globallink">
		<ul>
			<li><a href="home.html">首页</a></li>
			<li><a href="category_list.html">商品管理</a></li>
			<li><a href="order_admin.html">订单管理</a></li>
			<li><a href="salesdata_admin.html">销售量统计</a></li>
			<li><a href="user_admin.html">会员管理</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
		</ul>
	</div>
	<div id="banner"></div>
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="../image/ico_site.jpg" id="ico_site"/>
				网站路径：<a href="">销售量统计</a>
			</div>
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>销售量查询</strong></div>
			<div id="sendnotecontent">
				<form action="/do_salesdata" method="post" name="form1">
				<table id="tradequery">
				   <tr>
					<th>起始时间:&nbsp;</th>
            		<td>
						<select name="lower_year">
              				<option value="2007">2007</option>
              				<option value="2006">2006</option>
              			</select>
						&nbsp;年&nbsp;
						<select name="lower_month">
              				<option value="1">01</option>
             				<option value="2">02</option>
              				<option value="3">03</option>
              				<option value="4">04</option>
			  				<option value="5">05</option>
              				<option value="6">06</option>
            			</select>
						&nbsp;月&nbsp;
						<select name="lower_day">
              				<option value="1">01</option>
              				<option value="2">02</option>
              				<option value="3">03</option>
              				<option value="4">04</option>
			  				<option value="5">05</option>
              				<option value="6">06</option>              
            			</select>
						&nbsp;日
					</td>
          		 </tr>
				 <tr>
				 <th>结束时间:&nbsp;</th>
            		<td>
						<select name="upper_year">
              				<option value="2015">2015</option>
              				<option value="2014">2014</option>
              			</select>
						&nbsp;年&nbsp;
						<select name="upper_month">
              				<option value="1">01</option>
             				<option value="2">02</option>
              				<option value="3">03</option>
              				<option value="4">04</option>
			  				<option value="5">05</option>
              				<option value="6">06</option>
            			</select>
						&nbsp;月&nbsp;
						<select name="upper_day">
              				<option value="1">01</option>
              				<option value="2">02</option>
              				<option value="3">03</option>
              				<option value="4">04</option>
			  				<option value="5">05</option>
              				<option value="6">06</option>              
            			</select>
						&nbsp;日
					</td>
          		 </tr>
				 <tr>
				 <th>类别：</th>
            		<td>
					  	<select name="category">
			    <option value="">所有类别</option>
				{% for dir in g.top_dir %}
					<option value = "{{ dir.id }}">{{ dir.dir_name }}</option>
                {% endfor %}
              </select> 
					</td>
          		 </tr>
				 <tr>
				 <th></th>
				 	<td><input type="submit" class="bt2" name="button22" value="查询"><td>
				 </tr>
        </table>
		</form>  		
			</div>
		</div>
		
	<div id="footer">
		<span id="footerleft"> &nbsp;隐私权 | 版权 | 法律声明 | 电子邮件：admin@163.com </span>
		<span id="footerright"> B2C商城  Power by IBM &nbsp;</span>
	</div>
</div>

</body>
</html>
