{% extends 'back/layout.html' %}
{% block body %}

	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}" id="ico_site"/>
				网站路径：<a href="/manage_user">会员管理</a>&gt;&gt;会员查询结果</div>
		
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>查询结果</strong></div>
			<div id="sendnotecontent">
			<form action="" method="post" enctype="multipart/form-data" name="form1">
				<table id="favorite">
				<thead>
					<tr>
						<th>会员号</th>
						<th>会员级别</th>
						<th>积分</th>
						<th>注册时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
				  <tr>
				  	<td>{{ user.email }}</td>
            		<td>{% if cre.normal > user.points %}
            			customer
            			{% elif cre.silver > user.points and user.points >= cre.normal %}
            			normal customer
            			{% elif cre.gold > user.points and user.points >= cre.silver %}
            			silver customer
            			{% elif cre.pt > user.points and user.points >= cre.gold %}
            			gold customer
            			{% else %}
            			pt customer
            			{% endif %}

            		</td>
					<td>{{ user.points }}</td>
					<td>{{ user.register_date }} </td>
					<td><a href="{{ url_for('remove_user', user_id = user.id) }}"><img src="{{ url_for( 'static', filename = 'back/image/bt_delete.gif') }}" alt="删除" class="picture"></a></td>
          		  </tr>
				  {% endfor %}
				
				 </tbody>
            </table>
			</form> 
			</div>
		</div>

{% endblock %}
