{% extends "back/layout.html" %}
{% block body %}
      <div id="main">
        <div id="search2">
          <div id="searchleft">
            <img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}"  id="ico_site"/>
            网站路径：<a href=""> 会员管理</a>
          </div>
        </div>
        <div id="double1">
          <div id="doublehead1"><strong>会员级别设置</strong></div>
          <div id="doublecontent1">
            <form action="/do_manage_user" method="post" name="form1" onsubmit="return checkusersetform()">
              <table id="xialabiao">
                <tr>
                  <td class="inputHeader">&nbsp;</td>
                  <td align="center" class="inputHeader">会员级别&nbsp;&nbsp;</td>
                  <td align="center" class="inputContent ">积分下限</td>
                  <td width="18%" align="center" class="inputContent ">积分比例</td>
                  <td width="33%" align="center" class="inputContent ">备注</td>
                  <td align="center" class="inputContent">&nbsp;</td>
                </tr>
                <tr>
                  <td class="inputHeader">&nbsp;</td>
                  <td align="center" class="inputHeader">普通会员&nbsp;&nbsp;</td>
                  <td align="center" class="inputContent">{{ credit_req['normal'] }}</td>
                  <td align="center" class="inputContent">{{ credit_req['normal_percent'] }}%</td>
                  <td align="center" class="inputContent"><font color="#CC0000">只需注册即可成为普通会员</font></td>
                  <td align="center" class="inputContent">&nbsp;</td>
                </tr>
                <tr>
                  <td class="inputHeader">&nbsp;</td>
                  <td align="center" class="inputHeader">银&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卡&nbsp;&nbsp;</td>
                  <td align="center" class="inputContent">{{ credit_req['silver'] }}</td>
                  <td align="center" class="inputContent">{{ credit_req['silver_percent'] }}%</td>
                  <td align="left" class="inputContent">&nbsp;</td>
                  <td align="center" class="inputContent">&nbsp;</td>
                </tr>
                <tr>
                  <td class="inputHeader">&nbsp;</td>
                  <td align="center" class="inputHeader">金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卡&nbsp;&nbsp;</td>
                  <td align="center" class="inputContent">{{ credit_req['gold'] }}</td>
                  <td align="center" class="inputContent">{{ credit_req['gold_percent'] }}%</td>
                  <td align="left" class="inputContent">&nbsp;</td>
                  <td align="center" class="inputContent">&nbsp;</td>
                </tr>
                <tr>
                  <td class="inputHeader">&nbsp;</td>
                  <td align="center" class="inputHeader">白&nbsp;&nbsp;金&nbsp;&nbsp;卡&nbsp;&nbsp;</td>
                  <td align="center" class="inputContent">{{ credit_req['pt'] }}</td>
                  <td align="center" class="inputContent">{{ credit_req['pt_percent'] }}%</td>
                  <td align="left" class="inputContent">&nbsp;</td>
                  <td align="center" class="inputContent">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="6" class="titlegrey">&nbsp;</td>
                </tr>
                <tr>
                  <td width="4%" class="inputHeader">&nbsp;</td>
                  <td width="12%" align="center" class="inputHeader">会员级别：</td>
                  <td width="25%" align="left" class="inputContent">
                    <select name="userlevel">
                      <option selected="true" value="1">普通会员</option>
                      <option value="2">银卡</option>
                      <option value="3">金卡</option>
                      <option value="4">白金卡</option>
                    </select></td>
                    <td colspan="2" align="center" class="inputContent"><font color="#CC0000">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</font></td>
                    <td width="8%" align="center" class="inputContent">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="inputHeader"><label></label></td>
                    <td align="center" class="inputHeader">积分下限：</td>
                    <td align="left" class="inputContent">
                      <input type="number" class="inputtext" name="credit" onFocus="nextfield='credit'" maxlength="25">
                    </td>
                    <td colspan="2" align="left" class="inputContent"><font color="#CC0000">当会员积分大于相应等级的积分下限时，会员将自动升级</font></td>
                    <td align="center" class="inputContent">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="inputHeader">&nbsp;</td>
                    <td align="center" class="inputHeader">积分比例：</td>
                    <td align="left" class="inputContent">
                      <input type="number" class="inputtext" size="6" name="ratio" onFocus="nextfield='ratio'" maxlength="6">
                  % </td>
                  <td colspan="2" align="left" class="inputContent"><font color="#CC0000">会员购买物品时获得的积分占购买金额的比例</font></td>
                  <td align="center" class="inputContent">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2" class="inputHeader">&nbsp;</td>
                  <td colspan="3" align="left" class="inputContent">
                    <input type="submit" class="bt2" name="button22" value="提交">&nbsp;
                    &nbsp;<input type="Reset" class="bt2" name="button12" value="重填"></td>
                    <td align="center" class="inputContent">&nbsp;</td>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </div>
        <div id="double2">
          <div id="doublehead2"><strong>会员查询</strong></div>
          <div id="doublecontent2">
            <form action = "{{ url_for('query_user') }}" method = 'post'>
              <table width="100%">
                <tr>
                  <td width="3%" class="inputHeader">&nbsp;</td>
                  <td width="16%" class="inputHeader">nickname：</td>
                  <td width="39%" class="inputContent"><input type="Text" name="name" onFocus="nextfield='password'" value="" maxlength="15" size="15">              </td>
                  <td width="42%" class="inputContent">&nbsp;</td>
                </tr>
                <tr>
                  <td class="inputHeader">&nbsp;</td>
                  <td class="inputHeader">会员级别：</td>
                  <td class="inputContent"><select name="level">
                    <option value="0">所有会员</option>
                    <option value="1">普通会员</option>
                    <option value="2">银卡</option>
                    <option value="3">金卡</option>
                    <option value="4">白金卡</option>
                  </select></td>
                  <td class="inputContent">&nbsp;</td>
                </tr>
                <tr>
                  <td class="inputHeader">&nbsp;</td>
                  <td width="16%" class="inputHeader">注册起始时间：</td>
                  <td width="39%" class="inputContent"><select name="lower_year">
                    <option value = '2007'>2007</option>
                    <option value = '2006'>2006</option>
                  </select>
                  &nbsp;&nbsp;年&nbsp;&nbsp;
                  <select name="lower_month">
                    <option value = '1'>01</option>
                    <option value = '2'>02</option>
                    <option value = '3'>03</option>
                    <option value = '4'>04</option>
                    <option value = '5'>05</option>
                    <option value = '6'>06</option>
                  </select>
                  &nbsp;&nbsp;
                  月&nbsp;&nbsp;
                  <select name="lower_day">
                    <option value = '1'>01</option>
                    <option value = '2'>02</option>
                    <option value = '3'>03</option>
                    <option value = '4'>04</option>
                    <option value = '5'>05</option>
                    <option value = '6'>06</option>
                  </select>
                &nbsp;&nbsp;日 </td>
                <td class="inputContent">&nbsp;</td>
              </tr>
              <tr>
                <td class="inputHeader">&nbsp;</td>
                <td class="inputHeader">注册结束时间：</td>
                <td class="inputContent"><select name="upper_year">
                  <option value = "2015">2015</option>
                </select>
                &nbsp;&nbsp;年&nbsp;&nbsp;
                <select name="upper_month">
                  <option value = '1'>01</option>
                  <option value = '2'>02</option>
                  <option value = '3'>03</option>
                  <option value = '4'>04</option>
                  <option value = '5'>05</option>
                  <option value = '6'>06</option>
                </select>
                &nbsp;&nbsp;
                月&nbsp;&nbsp;
                <select name="upper_day">
                  <option value = '1'>01</option>
                  <option value = '2'>02</option>
                  <option value = '3'>03</option>
                  <option value = '4'>04</option>
                  <option value = '5'>05</option>
                  <option value = '6'>06</option>
                </select>
              &nbsp;&nbsp;日 </td>
              <td class="inputContent">&nbsp;</td>
            </tr>
          </table>
          <table width="100%" border="0" cellspacing="1" cellpadding="0">
            <tr>
              <td width="4%" class="inputContent">&nbsp;</td>
              <td width="17%" class="inputHeader">&nbsp;</td>
              <td width="39%" class="inputContent">
                <strong> <input type="submit" class="bt2" name="button222" value="查询"></strong>&nbsp;&nbsp;
                <input type="Reset" class="bt2" name="button1" value="重填" onClick="clear()">
              &nbsp; </td>
              <td width="40%" class="inputContent">&nbsp;</td>
            </tr>
          </table>
        </form>
      </div>
    </div>

{% endblock %}
