{% extends "web/layout.html" %}
{% block main %}


<div id="main">
	<div id="search2">
		<div id="searchleft">
			<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}"  id="ico_site"/>
			网站路径：<a href="/">首页</a>&gt;&gt;<a href="/add_address"> 地址簿</a>
		</div>
		
{% include 'web/quick_search.html' %} 

</div>

<div id="double1">
	<div id="doublehead1"><strong>地址簿列表</strong></div>
	<div id="doublecontent1">
		<form action="/confirm_order_address" method="post">
		<table id="doublecontenttable1">
			<thead>
				<tr>
				{% if session['address'] %}
				<th></th>
				{% endif %}	
					<th>地址簿</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{% for addr in address_list %}
				<tr>
					{% if session['address'] %}
				<td>
					<input type="radio" name="radiobutton" value="{{ addr.id }}" {% if session['address'] == addr.id %} checked="checked" {% endif %}>
				</td>		
					{% endif %}
					<td>
						{{ addr.address_name }}
					</td>
					<td>
						<a href="/edit_address?id={{ addr.id }} "><img src="{{ url_for('static', filename='web/image/bt_change.gif') }}"  class="picture"/></a>&nbsp;
						<a href="/delete_address?id={{ addr.id }}" onClick="javascript:confirm('确定删除？')"><img src="{{ url_for('static', filename='web/image/bt_delete2.gif') }}" class="picture"/></a>
					</td>
				</tr>
				{% endfor %}
				{% if session['address'] %}
				<tr>
							<td></td><td></td>
							<td>
								<input type="submit" value="配送到这个地址">
								<!--<img src="{{ url_for('static', filename='web/image/qydzb1.GIF') }}" alt="配送至该地址"  class="picture"></input>-->
							</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</form>
	</div>
</div>
<div id="double2">
	<div id="doublehead2"><strong>添加地址簿</strong></div>
	<div id="doublecontent2">
		<form action="/do_add_address" method="post" name="form1" onsubmit="return checkaddressdaohang()">
			<table id="itemsearch">
				<tr>
					<th class="itemsearchth" >姓&nbsp;&nbsp;&nbsp;&nbsp;名：</th>
					<td class="itemsearchtd1">
						<input type="text" name="name" class="inputtext" onFocus="nextfield='password'" value="" maxlength="25"/>
					</td>
					<td class="itemsearchtd2">
						<span class="red">*&nbsp;必输项</span>
					</td>
				</tr>
				<tr>
					<th class="itemsearchth">本地/外地：</th>
					<td class="itemsearchtd1">
						<select name="province">

							<option value='1'>本地</option>
							<option selected="true" value='0'>外地</option>                 
						</select>
					</td>
					<td class="itemsearchtd2">&nbsp;</td>
				</tr>
				<tr>
					<th class="itemsearchth"><span class="inputHeader">通讯地址：</span></th>
					<td class="itemsearchtd1">
						<input type="Text" class="inputtext" name="address" onFocus="nextfield='name'" value="" maxlength="25">
					</td>
					<td class="itemsearchtd2">
						<span class="red">*&nbsp;必输项</span>
					</td>
				</tr>
				<tr>
					<th class="itemsearchth"><span class="inputHeader">邮政编码：</span></th>
					<td class="itemsearchtd1">
						<input type="Text" class="inputtext" name="postcode" onFocus="nextfield='postcode'" value="" maxlength="25">
					</td>
					<td class="itemsearchtd2">&nbsp;
					</td>
				</tr>
				<tr>
					<th class="itemsearchth"><span class="inputHeader">手机号码：</span></th>
					<td class="itemsearchtd1">
						<input type="Text" class="inputtext" name="phone" onFocus="nextfield='phone'" value="" maxlength="25">
					</td>
					<td class="itemsearchtd2">
						<span class="red">*&nbsp;必输项</span>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<input type="submit" class="bt2" name="button2" value="提交">
						&nbsp;<input type="reset" class="bt2" name="button1" value="重填">
						<input type="hidden" name="update" value="0">
					</td>
				</tr>
			</table>
		</form>		
	</div>
</div>
{% endblock %}
