{% extends "web/layout.html" %}
{% block main %}
<div id="banner"></div>
<div id="main">
	<div id="search2">
		<div id="searchleft">
			<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}"  id="ico_site"/>
			网站路径：<a href="/">首页</a>&gt;&gt;<a href="/add_address"> 地址簿</a>&gt;&gt;<a href=""> 地址簿编辑</a>
		</div>
		<div id="searchright2">
			<input type="text" name="product" id="textInput"/>
			<input type="button" name="Submit" value="搜索" id="searchbutton" onClick="javascript:window.open('item_search_list.html','_parent','')">
		</div>
		<div id="searchright1">
			<select name="category" id="searchrightcategory">
				<option value="5">所有类别</option>
				<option value="1">图书音像</option>
				<option value="2">时尚生活</option>
				<option value="3">饰品配件</option>
				<option value="4">数码产品</option>
			</select>
		</div>
	</div>
</div>
<div id="sendnote">
	<div id="sendnotehead"><strong> 编辑地址簿</strong></div>
	<div id="sendnotecontent">

		<form action="/add_address" method="post" name="form1" onsubmit=" return checkaddressform()">
			<table id="itemsearch">
				<tr>
					<th class="itemsearchth" >姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</th>
					<td class="itemsearchtd1">
						<input type="text" name="name" class="inputtext" onFocus="nextfield='password'" value="{{ address.reciver_name }}" maxlength="25"/>
					</td>
					<td class="itemsearchtd2">
						<span class="red">*&nbsp;必输项</span>
					</td>
				</tr>
				<tr>
					<th class="itemsearchth">本地/外地：</th>
					<td class="itemsearchtd1">
						<select name="province">              
							<option {% if address.is_local == 1 %} selected="true" {% endif %} value='1'>本地</option>
							<option {% if address.is_local == 0 %} selected="true" {% endif %} value='0'>外地</option>                   
						</select>
					</td>
					<td class="itemsearchtd2">&nbsp;
					</td>
				</tr>
				<tr>
					<th class="itemsearchth"><span class="inputHeader">通讯地址：</span></th>
					<td class="itemsearchtd1">
						<input type="Text" class="inputtext" name="address" onFocus="nextfield='name'" value="{{ address.address_name }}" maxlength="25">
					</td>
					<td class="itemsearchtd2">
						<span class="red">*&nbsp;必输项</span>
					</td>
				</tr>
				<tr>
					<th class="itemsearchth"><span class="inputHeader">邮政编码：</span></th>
					<td class="itemsearchtd1">
						<input type="Text" class="inputtext" name="postcode" onFocus="nextfield='sex'" value="{{ address.postcode }}" maxlength="25">
					</td>
					<td class="itemsearchtd2">&nbsp;
					</td>
				</tr>
				<tr>
					<th class="itemsearchth"><span class="inputHeader">手机号码：</span></th>
					<td class="itemsearchtd1">
						<input type="Text" class="inputtext" name="phone" onFocus="nextfield='sex'" value="{{ address.phone }}" maxlength="25">
					</td>
					<td class="itemsearchtd2">
						<span class="red">*&nbsp;必输项</span>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<input type="submit" class="bt2" name="button2" value="提交">
						&nbsp;<input type="reset" class="bt2" name="button1" value="重填">
						&nbsp;<input type="Button" class="bt2" name="button3" value="返回" onClick="javascript:window.location.href='/add_address'">
						<input type="hidden" name="update" value="1">
						<input type="hidden" name="id" value="{{ address.id }}">
					</td>
				</tr>
			</table>
		</form>		
	</div>
</div>

{% endblock %}