{% extends "web/layout.html" %}
{% block main %}

		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename = 'web/image/ico_site.jpg') }}" id="ico_site"/>
				网站路径：<a href="/">首页</a>&gt;&gt;<a href="{{ url_for('show_cart_list') }}">购物车</a>			
			</div>
			{% include 'web/quick_search.html' %} 
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>购物车内的商品</strong></div>
			<div id="sendnotecontent">
			<form action="/update_cart_list" method="post" name="form1" onsubmit="return checkitemno()">
				<table id="favorite">
				<thead>
					<tr>
						<th>No.</th>
						<th>商品名</th>
						<th>市场价</th>
						<th>会员价</th>
						<th>为您节省</th>
						<th>数量</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{% for item in cart_list %}
				  <tr>
            		<td>{{ cart_list.index(item) }}
            		</td>
					<td>
						<a href="item_info.html">{{ item.item_name }}</a>					
					</td>
					<td>￥{{ item[0].price }}
					</td>
					<td>
						￥{{ item[0].price * item[0].discount }}					
					</td>
					<td>
						￥{{ item[0].price * (1 - item[0].discount) }}
					</td>
					<td>
						<input type="text" name="item{{ item[0].id }}" class="smallinputext" value="{{ item[1] }}"></td>
					<td>
						<a href="/collect/{{ item[0].id }}"><img src="{{ url_for('static', filename = 'web/image/collection.gif') }}"  class="picture"/></a>&nbsp;<a href="/remove_cart_item/{{ item[0].id }}" onClick="window.confirm('确定删除？')"><img src="{{ url_for('static', filename = 'web/image/delete_item.gif') }}" class="picture"/></a></td>
          		  </tr>
          		 {% endfor %}
					<tr>
            		<td>
					</td>
					<td>
					</td>
					<td> 
					</td>
					<td>
					</td>
					<td>
					</td>
					<td></td>
					<td>
						<input type="button" name="continue" value="继续购物" onClick="javascript:window.location.href='/'">&nbsp;
		     <input type="submit" name="edit2" value="更新">					  					</td>
					</tr>
					<tr>
            			<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					<td>
					<a href="account_check.html"><img src="{{ url_for('static', filename = 'web/image/check_account.gif') }}" class="picture"/></a>				  					</td>
					</tr>
				 </tbody>
            </table>
			</form> 
			</div>
		</div>

{% endblock %}
