{% extends "web/layout.html" %}
{% block main %}
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename = 'web/image/ico_site.jpg') }}"  id="ico_site"/>
				网站路径：<a href="/">首页</a>&gt;&gt;<a href="">查看商品评论</a>
			</div>
			{% include "web/quick_search.html" %}
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>共有{{ comments|length }}条评论</strong></div>
			<div id="sendnotecontent">
				<table id="creditquery">
					{% for comment in comments %}
					<tr>
					<td class="commentr1color"> 会员：</td>
					<td class="commentr1color"> {{ comment.user.username }}</td>
					<td class="commentr1color"> 发表时间：</td>
					<td class="commentr1color"> {{ comment.date }}</td>
					<td class="commentr1color"> 打分：</td>
					{% for i in range(comment.rate) %}
					<td class="commentr1color"> <img src="{{ url_for('static', filename = 'web/image/1star.JPG') }}" alt="喜欢"></td>
					{% endfor %}
					</tr>
					<tr>
					<td class="commentr2color">评论：</td>
	     			<td colspan="5" class="commentr2color">
					<span class="red">{{ comment.content }}</span> 
					</td>
	 			   </tr>
				   	{% endfor %}
            </table>	
			</div>
		</div>
{% endblock %}
