{% extends "web/layout.html" %}
{% block main %}
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}"  id="ico_site"/>
				网站路径：<a href="/">首页</a>&gt;&gt;<a href="">积分查询</a>
			</div>
			{% include "web/quick_search.html" %}
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>当前积分：{{ points }}</strong></div>
			<div id="sendnotecontent">
				<table id="creditquery">
				<caption>
				积分明细
				</caption>
				<thead>
					<tr>
						<th>订单号</th>
						<th>下单时间</th>
						<th>订单金额</th>
						<th>获得积分</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
				  <tr>
            		<td>
						<a href="{{ url_for('order_info', order_id = order.id) }}">{{ order.id }}</a>
					</td>
					<td>
						{{ order.date }}
					</td>
					<td>
						￥{{ order.total }}
					</td>
					<td>
						{{ order.points }}
					</td>
          		  </tr>
				 {% endfor %}
				 </tbody>
            </table>	
			</div>
		</div>
{% endblock %}