{% extends "web/layout.html" %}
{% block main %}

		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename = 'web/image/ico_site.jpg') }}"  id="ico_site"/>
				网站路径：<a href="home.html">首页</a>&gt;&gt;<a href="#">商品详细信息</a>
			</div>
			{% include 'web/quick_search.html' %} 
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>商品信息</strong></div>
			<div id="sendnotecontent">
				<table id="creditquery">
				<caption>
				{{ item.item_name }}
				</caption>
				<tbody>
				<tr>
          <td><img src="{{ url_for('static', filename = item.image[11:]) }}" alt="{{ item.item_name }}" class="picture1"></td>
          <td colspan="4" class="tdleftalign">{{ item.description }}</td>
        </tr>
        <tr>
          <td>市场价：￥{{ item.price }}</td>
          <td>会员价：￥{{ item.price * item.discount }}</td>
		  <td>节省：￥{{ item.price * (1 - item.discount) }}</td>
		  <td>库存量：{{ item.count }}</td>
		  <td>用户评分：<img src="{{ url_for('static', filename = 'web/image/4star.JPG') }}" alt="喜欢" class="picture"></td>
        </tr>
		<tr>
		  <td></td>
          <td></td>
		  <td></td>
		  <td></td>
		<td><a href="comment_list.htm"><a href="/comment_list/{{ item.id }}">【查看用户评论】</a><br><a href="/add_comment/{{ item.id }}">【参与评论】</a></td>
		</tr>
				 </tbody>
		<tfoot>
		<tr>
			<td></td>
          <td></td>
		  <td></td>
		  <td>
		</td>
		  <td>
		  {% if item.count > 0 %}
		  <a href="/add_to_cart/{{ item.id }}"><img src="{{ url_for('static', filename = 'web/image/goumai.gif') }}" alt="购买" class="picture"></a>&nbsp;
		  {% else %}
		  <span style="font-size:12px;">暂时无法购买</span>
		  {% endif %}
		<a href="/collect/{{ item.id }}"><img src="{{ url_for('static',filename = 'web/image/put_to_collection.gif') }}" alt="收藏" class="picture"></a>
			</td>
		</tr>
		</tfoot>
            </table>	
			</div>
		</div>

{% endblock %}