{% extends "web/layout.html" %}
{% block main %}
<script language="javascript">
function clear(){
document.form1.webUserEntity.email="";
document.form1.webUserEntity.name="";
document.form1.webUserEntity.password="";
document.form1.webUserEntity.passwordConfirm="";
}
function checkcontent(){
if(document.form1.webUserEntity.desc===""&&document.form1.webUserEntity.desc===""){
window.alert("请输入商品名称或商品描述！");
return;
}
}
</script>
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="../image/ico_site.jpg"  id="ico_site"/>
				网站路径：<a href="home.html">首页</a>&gt;&gt;<a href="">商品搜索</a>
			</div>
			{% include 'web/quick_search.html' %} 
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>商品搜索</strong></div>
			<form action="{{ url_for('item_search') }}" method="post"  name="form1">
			<div id="sendnotecontent">
				<table id="itemsearch">
				   <tr>
					<th>请选择商品类别：</th>
            		<td>
						<select name="cate_id">
							<option value = ''>所有类别</option>
							{% for dir in top_dir %}
								<option value = {{ dir.id }}>{{ dir.dir_name }}</option>
							{% endfor %}
            			</select>
					</td>
          		 </tr>
				 <tr>
				 <th>请选择商品价格：</th>
            		<td>
						<select name="price_level">
              				<option value = '0'>不指定</option>
             				<option value = "1">0-10元</option>
              				<option value = "2">10-30元</option>
              				<option value = "3">30-50元</option>
			  				<option value = "4">50-100元</option>
              				<option value = "5">100元以上</option>
            			</select>
					</td>
          		 </tr>
				 <tr>
				 <th>请选择商品折扣：</th>
            		<td>
					  	<select name="discount_level">
							<option value = '0'>所有折扣</option>
              				<option value = '1'>3折以下</option>
              				<option value = '2'>3-5折</option>
							<option value = "3">5-7折</option>
							<option value = "4">7折及以上</option>
            			</select> 
					</td>
          		 </tr>
				 <tr>
				 <th>请输入商品名称：</th>
            		<td>
					<input type="text" name="keyword" id="inputtext"/>
					</td>
          		 </tr>
				 <tr>
				 <th></th>
				 	<td><input type="submit" class="" name="button2" value="搜索" >
				 </tr>
        </table>
				
			</div>
		</form>
		</div>
		
{% endblock %}