<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>BC2商城</title>
<link href="{{ url_for('static', filename='web/css/frame.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body>
	<div id="container">
		<div id="logalleft">
		<div id="logalright">
		{% if g.user %} 
		  <a href="" target="_parent">{{ g.user.username }} 已登录|
		  <a href="logout" target="_parent">退出</a>|
		  <a href="user_edit.html" target="_parent">个人信息维护</a> |
		  <a href="address_daohang.html" target="_parent">地址簿</a> |
		{% else %}
		 <a href="/register" target="_parent">[注册&nbsp;</a>] |
		 <a href="/login" target="_parent"> Login &nbsp;</a>] |
		{% endif %}
		</div>
		</div>
		<div id="globallink">
			<ul>
				
			<li><a href="{{ url_for('index') }}">首页</a></li>
			<li><a href="credit_query.html">积分查询</a></li>
			<li><a href="{{ url_for('item_search') }}">商品搜索</a></li>
			<li><a href="favorite.html">收藏夹</a></li>
			<li><a href="cart_list.html">我的购物车</a></li>
			<li><a href="tradequery.html">交易查询</a></li>
			<li><a href="send_notes.html">送货说明</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
			</ul>
		</div>

{% block main %}

{% endblock %}

	<div id="footer">
		<span id="footerleft"> &nbsp;隐私权 | 版权 | 法律声明 | 电子邮件：admin@163.com </span>
		<span id="footerright"> B2C商城  Power by IBM &nbsp;</span>
	</div>

</div>
<script language="javascript" src="{{ url_for('static', filename='web/js/checkform.js') }}"></script>
</body>
</html>

