{% extends "web/layout.html" %}
{% block main %}
<script language="javascript">
function clear(){

document.form1.webUserEntity.name="";
document.form1.webUserEntity.address="";
document.form1.webUserEntity.postcode="";
document.form1.webUserEntity.phone="";
}

	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}" id="ico_site"/>
				网站路径：<a href="/">首页</a>&gt;&gt;<a href="">历史交易查询</a>			</div>
			<div id="searchright2">
			  <input type="text" name="product" id="textInput"/>
			  <input type="button" name="Submit" value="搜索" id="searchbutton" onClick="javascript:window.open('item_search_list.html','_parent','')">
			</div>
			<div id="searchright1">
			  <select name="category" id="searchrightcategory">
				<option value="5">所有类别</option>
                <option value="1">图书音像</option>
                <option value="2">时尚生活</option>
                <option value="3">饰品配件</option>
                <option value="4">数码产品</option>
              </select>
		  </div>
		</div>
		<div id="sendnote">
			<div id="sendnotehead"><strong>查询结果</strong></div>
			<div id="sendnotecontent">
			<form action="" method="post" enctype="multipart/form-data" name="form1">
				<table id="favorite">
				<thead>
					<tr>
						<th>订单号</th>
						<th>客户号</th>
						<th>下单时间</th>
						<th>订单状态</th>
						<th>详情</th>
					</tr>
				</thead>
				<tbody>
				  <tr>
            		<td>1483728</td>
					<td>wangjx123@163.com</td>
					<td>2007-10-01&nbsp;10:25:04</td>
					<td>已支付</td>
					<td><a href="order_info.html"><img src="../image/xq.gif" alt="详情" class="picture"></a></td>
          		  </tr>
				  <tr>
            		<td>1483729</td>
					<td>wangjx123@163.com</td>
					<td>2007-10-12&nbsp;16:02:24</td>
					<td>已支付</td>
					<td><a href="order_info.html"><img src="../image/xq.gif" alt="详情" class="picture"></a></td>
          		  </tr>
					
				 </tbody>
            </table>
			</form> 
			</div>
		</div>
		
{% endblock %}
