<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>BC2商城</title>
<link href="{{ url_for('static', filename='web/css/frame.css') }}" rel="stylesheet" type="text/css"/>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='web/js/checkform.js') }}">
</script>
</head>

<body>
<div id="container">
	<div id="logalleft">
		<div id="logalright">
		<a href="register.html" target="_parent">[注册&nbsp;</a>] | 
		<a href="" target="_parent">王小静 已登录| 
		<a href="user_edit.html" target="_parent">个人信息维护</a> | 
		<a href="address_daohang.html" target="_parent">地址簿</a> |
	 	<a href="home_nologin.html" target="_parent">退出</a>
		</div>
	</div>
	<div id="globallink">
		<ul>
			<li><a href="home.html">首页</a></li>
			<li><a href="credit_query.html">积分查询</a></li>
			<li><a href="item_search.html">商品搜索</a></li>
			<li><a href="favorite.html">收藏夹</a></li>
			<li><a href="cart_list.html">我的购物车</a></li>
			<li><a href="tradequery.html">交易查询</a></li>
			<li><a href="send_notes.html">送货说明</a></li>
			<li><a href="" class="nouseful">&nbsp;</a></li>
		</ul>
	</div>
	<div id="banner"></div>
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="../image/ico_site.jpg"  id="ico_site"/>
				网站路径：<a href="cart_list.html">购物车</a>&gt;&gt;<a href="#"><span class="red">确认订单</span></a>
			</div>
			<div id="searchright2">
			  <input type="text" name="product" id="textInput"/>
			  <input type="button" name="Submit" value="搜索" id="searchbutton" onClick="javascript:window.open('item_search_list.html','_parent','')">
			</div>
			<div id="searchright1">
			  <select name="category" id="searchrightcategory">
				<option value="5">所有类别</option>
                <option value="1">图书音像</option>
                <option value="2">时尚生活</option>
                <option value="3">饰品配件</option>
                <option value="4">数码产品</option>
              </select>
		  </div>
		</div>
		<div id="double1">
			<div id="doublehead1"><strong>商品清单</strong>&nbsp;<a href="cart_list_edit.html"><img src="../image/edit.gif" alt="修改" class="picture"></a></div>
			<div id="doublecontent1">
			<form action="" method="post" enctype="multipart/form-data" name="form1">
				<table id="doublecontenttable1">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>商品名</th>
						<th>市场价</th>
						<th>折扣</th>
						<th>您的价格</th>
						<th>数量</th>
					</tr>
				</thead>
				<tbody>
				  <tr>
					<td>
						<span>1</span>
					</td>		
					<td>
					<a href="item_info.html">大学物理学.第四册：波动与光学（第2版）</a></td>
					<td>
					￥10.00
					</td>
					<td>
					85折
					</td>
					<td>
					￥8.50
					</td>
					<td>
					1
					</td>	
          		  </tr>
				  <tr>
					<td>
					<span>2</span>
					</td>
					<td>
						<a href="">大学物理学.第一册：力学（第2版）</a></td>
					<td>
					￥16.00
					</td>
					<td>
					85折
					</td>
					<td>
					￥13.60
					</td>
					<td>
					1
					</td>	
				  </tr>
				  <tr></tr>
				  <tr>
				  	<td>
						总价
					</td>
					<td>
						<span class="red">商品价格:￥22.10 + 送货费:￥5.00 = ￥25.10</span>
					</td>
					<td>
						使用积分:
					</td>
					<td>
						<input type="Text" name="credit" onFocus="nextfield='sex'" value="" maxlength="25" class="smallinputext"> 
					</td>
					<td>
            <input type="Button" class="bt2" name="button2" value="确定" onClick="checkcredit()">
				  </td>
				  <td></td>
				  </tr>
				  <tr>
				  <td>本单将产生积分：</td>
				  <td><span class="red">22</span></td>
				  <td></td>
				  <td></td>
				  <td></td>
				  </tr>
				 </tbody>
            </table>
			</div>
			</div>
			<div id="double2">
			<div id="doublehead2"><strong>送货地址</strong>&nbsp;<a href="address.html"><img src="../image/edit.gif" alt="修改" class="picture"></a></div>
			<div id="doublecontent2">
			<table id="itemsearch">
              <tr>
                <th class="itemsearchth" >姓&nbsp;&nbsp;&nbsp;&nbsp;名：</th>
                <td class="itemsearchtd1">王小静</td>
                <td class="itemsearchtd2">&nbsp;</td>
              </tr>
              <tr>
                <th class="itemsearchth">地&nbsp;&nbsp;&nbsp;&nbsp;址：</th>
                <td class="itemsearchtd1">北京市海淀区翠微路甲5号</td>
                <td class="itemsearchtd2">&nbsp;</td>
              </tr>
              <tr>
                <th class="itemsearchth">电话号码：</th>
                <td class="itemsearchtd1">13812345678</td>
                <td class="itemsearchtd2"></td>
              </tr>
              <tr>
                <th class="itemsearchth"><span class="inputHeader">支付方式：</span></th>
                <td class="itemsearchtd1">货到付款</td>
                <td class="itemsearchtd2">&nbsp;</td>
              </tr>
              <tr>
                <th class="itemsearchth">&nbsp;</th>
                <td class="itemsearchtd1">&nbsp;</td>
                <td class="itemsearchtd2">请仔细核查信息，确定无误后：
                  <input type="button" name="Submit" value="提交订单" onclick="javascript:window.location.href='order_success.html'" /></td>
              </tr>
            </table>
			</form>		
			</div>
</div>

	<div id="footer">
		<span id="footerleft"> &nbsp;隐私权 | 版权 | 法律声明 | 电子邮件：admin@163.com </span>
		<span id="footerright"> B2C商城  Power by IBM &nbsp;</span>
	</div>
</body>
</html>
