{% extends "web/layout.html" %}
{% block main %}
<script language="javascript">
function clear(){

document.form1.webUserEntity.name="";
document.form1.webUserEntity.address="";
document.form1.webUserEntity.postcode="";
document.form1.webUserEntity.phone="";
}
</script>

	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}"  id="ico_site"/>
				网站路径：订单详细信息
			</div>
		</div>
		<div id="double1">
			<div id="doublehead1"><strong>配送信息</strong></div>
			<div id="doublecontent1">
			<form action="" method="post" enctype="multipart/form-data" name="form1">
				<table id="doublecontenttable3">
				 <tr>
					<td>订单号</td>
					<td>{{ order.id }}</td>
            		<td>客户号</td>
					<td>{{ g.user.email }}</td>
					<td>下单时间</td>
					<td>{{ order.date }}</td>
         		 </tr>
		  		 <tr>
           			<td>订单金额</td>
					<td>{{ order.total }}</td>
					<td>支付方式</td>
					<td>货到付款</td>
            		<td>送货方式</td>
					<td>送货上门</td>
			</tr>
			 <tr>
            	<td>收货人</td>
			    <td>{{ order.address.reciver_name }}</td>
			    <td>收货人地址</td>
            <td>{{ order.address.address_name }}</td>
					<td>订单状态</td>
					<td>已支付</td>
			</tr>
			 <tr>
            
			<td>收货人手机</td>
			<td>{{ order.address.phone }}</td>
					<td></td>
					<td></td>					
				 </tr>
				</from> 
            </table>
			</div></div>
			<div id="double2">
			<div id="doublehead2"><strong>商品信息</strong></div>
			<div id="doublecontent2">
			<form action="" method="post" enctype="multipart/form-data" name="form1">
				<table id="favorite">
				<thead>
					<tr>
						<th>商品编号</th>
						<th>商品名称</th>
						<th>商品价格</th>
						<th>折扣</th>
						<th>会员价</th>
						<th>数量</th>
					</tr>
				</thead>
				<tbody>
					{% for i in order.items %}
				  <tr>
            		<td><span>{{ i.id }}</span></td>
					<td><a href="{{ url_for('item_info', id = i.id) }}">{{ i.item_name }}</a></td>
					<td>￥{{ i.price }}</td>
					<td>折:{{ i.discount }}</td>
					<td>￥{{ i.discount * i.price }}</td>
					<td>{{ order.count.split('|')[order.items.index(i)] }}</td>
          		  </tr>
          		  {% endfor %}
				  
				 </tbody>
            </table>
			</form> 
  </div>

</div>
{% endblock %}