{% extends "web/layout.html" %}
{% block main %}
	<div id="main">
		<div id="search2">
			<div id="searchleft">
				<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}"  id="ico_site"/>
				网站路径：<a href="/show_cart_list">购物车</a>&gt;&gt;<a href="#"><span class="red">确认订单</span></a>
			</div>
			{% include "web/quick_search.html" %}
		</div>
		<div id="double1">
			<div id="doublehead1"><strong>商品清单</strong>&nbsp;<a href="{{ url_for('show_cart_list') }}"><img src="{{ url_for('static', filename = 'web/image/edit.gif') }}" alt="修改" class="picture"></a></div>
			<div id="doublecontent1">
			<form action="{{ url_for('set_credit') }}" method="post" name="form1"  onClick="return checkcredit()">
				<table id="doublecontenttable1">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>商品名</th>
						<th>市场价</th>
						<th>折扣</th>
						<th>您的价格</th>
						<th>数量</th>
					</tr>
				</thead>
				<tbody>
					{% for i in cart_list %}
				  <tr>
					<td>
						<span>{{ cart_list.index(i) + 1 }}</span>
					</td>		
					<td>
					<a href="{{ url_for('item_info', id = i[0].id) }}">{{ i[0].item_name }}</a></td>
					<td>
					￥{{ i[0].price }}
					</td>
					<td>
					折: {{ i[0].discount }}
					</td>
					<td>
					￥{{ i[0].discount * i[0].price }}
					</td>
					<td>
					{{ i[1] }}
					</td>	
          		  </tr>
				  {% endfor %}
				  <tr></tr>
				  <tr>
				  	<td>
						总价
					</td>
					<td>
						<span class="red">商品价格:￥{{ total }} + 送货费:￥{{ deliver }} = ￥{{ total + deliver }}</span>
					</td>
					<td>
						使用积分:
					</td>
					<td>
						<input type="Text" name="credit" onFocus="nextfield='sex'" value="{{ session['credit'] }}" maxlength="25" class="smallinputext"> 
					</td>
					<td>
            <input type="submit" class="bt2" name="button2" value="确定">
				  </td>
				  <td></td>
				  </tr>
				  <tr>
				  <td>本单将产生积分：</td>
				  <td><span class="red">{{ total * credit/100 }}</span></td>
				  <td></td>
				  <td></td>
				  <td></td>
				  </tr>
				 </tbody>
            </table>
			</div>
			</div>
			<div id="double2">
			<div id="doublehead2"><strong>送货地址</strong>&nbsp;<a href="/add_address"><img src="{{ url_for('static', filename='web/image/edit.gif') }}" alt="修改" class="picture"></a></div>
		</form>
			<div id="doublecontent2">
			<form action = "{{ url_for('submit_order') }}" method = 'post'>
			<table id="itemsearch">
              <tr>
                <th class="itemsearchth" >姓&nbsp;&nbsp;&nbsp;&nbsp;名：</th>
                <td class="itemsearchtd1">{{ address.reciver_name }}</td>
                <td class="itemsearchtd2">&nbsp;</td>
              </tr>
              <tr>
                <th class="itemsearchth">地&nbsp;&nbsp;&nbsp;&nbsp;址：</th>
                <td class="itemsearchtd1">{{ address.address_name }}</td>
                <td class="itemsearchtd2">&nbsp;</td>
              </tr>
              <tr>
                <th class="itemsearchth">电话号码：</th>
                <td class="itemsearchtd1">{{ address.phone }}</td>
                <td class="itemsearchtd2"></td>
              </tr>
              <tr>
                <th class="itemsearchth"><span class="inputHeader">支付方式：</span></th>
                <td class="itemsearchtd1">货到付款</td>
                <td class="itemsearchtd2">&nbsp;</td>
              </tr>
              <tr>
                <th class="itemsearchth">&nbsp;</th>
                <td class="itemsearchtd1">&nbsp;</td>
                <td class="itemsearchtd2">请仔细核查信息，确定无误后：
                	<input type = "text" name = "total" value = "{{ total + deliver }}" style = 'display:none'>
                	<input type = "text" name = "points" value = "{{ total * credit/100 - session['credit'] }}" style = 'display:none'>
                  <input type="submit" name="Submit" value="提交订单" /></td>
              </tr>
            </table>
			</form>		
			</div>
</div>

{% endblock %}