{% extends 'web/layout.html' %}
{% block main %}

<div id="main">
	<div id="search2">
		<div id="searchleft">
			<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}"  id="ico_site"/>
			网站路径：<a href="/">首页</a>&gt;&gt;<a href="/find_password"> 找回密码</a>
		</div>
		
{% include 'web/quick_search.html' %} 
</div>

	<div id="sendnote">
		<div id="sendnotehead"><strong> 找回密码</strong></div>
		{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
		{% endfor %}
		<div id="sendnotecontent">

			<form action="/do_find_password" method="post"  onsubmit="return checkpwdform()" name="form1">
				<table id="itemsearch">
					<tr>
						<th class="itemsearchth" >注册时填写的E-mail地址：</th>
						<td class="itemsearchtd1">
							<input type="Text" class="inputtext" name="email" onFocus="nextfield='webUserEntity.email'" value="" maxlength="40">
						</td>
						<td class="itemsearchtd2">
							<input type="submit" name="button2" value="提交">
						</td>
					</tr>
				</table>
			</form>		
		</div>
	</div>


{% endblock %}
