

			<div id="searchright2">
			<form action = "{{ url_for('item_search') }}", method = 'post'>
			  <select name="cate_id" id="searchrightcategory">
				<option value="">所有类别</option>
				{% for dir in top_dir %}
					<option value = "{{ dir.id }}">{{ dir.dir_name }}</option>
                {% endfor %}
              </select>
              <input type="text" name="discount_level" id="textInput" value = "0" style="display:none;"/>
              <input type="text" name="price_level" id="textInput" value = '0' style="display:none;"/>
			  <input type="text" name="keyword" id="textInput" />
			  <input type="submit" name="Submit" value="搜索" id="searchbutton">
			</form>
			</div>
		
