{% extends 'web/layout.html' %}
{% block main %}

<div id="main">
	<div id="search2">
		<div id="searchleft">
			<img src="{{ url_for('static', filename='web/image/ico_site.jpg') }}"  id="ico_site"/>
			网站路径：<a href="/">首页</a>&gt;&gt;<a href="/edit_profile"> 个人信息维护</a>
		</div>
		
{% include 'web/quick_search.html' %} 
</div>
	<div id="sendnote">
		<div id="sendnotehead"><strong> 个人信息修改</strong></div>
		{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
		{% endfor %}
		<div id="sendnotecontent">
			<form action="/do_edit_profile" method="post" name="form1" onsubmit="return checkinfoeditform()">
				<table id="itemsearch">
					<tr>
						<th class="itemsearchth" >E-mail地址：</th>
						<td class="itemsearchtd1">
							<input type="text" name="email" class="inputtext" value="{{ g.user.email }}" maxlength="40" disabled="disabled"/>
						</td>
						<td class="itemsearchtd2">
							<span class="red">*&nbsp;不可更改</span>					
						</td>
					</tr>
					<tr>
						<th class="itemsearchth">昵&nbsp;&nbsp;&nbsp;&nbsp;称：</th>
						<td class="itemsearchtd1">
							<input type="text" name="name" class="inputtext" value="{{ g.user.username }}" maxlength="25"/>
						</td>
						<td class="itemsearchtd2">
							<span class="red">*&nbsp;(可选项)</span>
						</td>
					</tr>
					<tr>
						<th class="itemsearchth">原&nbsp;密&nbsp;码：</th>
						<td class="itemsearchtd1">
							<input type="password" class="inputtext" name="passwordold" value="" maxlength="25">
						</td>
						<td class="itemsearchtd2">
							<span class="red">*&nbsp;必输项</span>
						</td>
					</tr>
					<tr>
						<th class="itemsearchth">新&nbsp;密&nbsp;码：</th>
						<td class="itemsearchtd1">
							<input type="password" class="inputtext" name="passwordnew" value="" maxlength="25">   
						</td>
						<td class="itemsearchtd2">
							<span class="red">*&nbsp;必输项</span>
						</td>
					</tr>
					<tr>
						<th class="itemsearchth">密码确认：</th>
						<td class="itemsearchtd1">
							<input type="password" class="inputtext" name="passwordConfirm" value="" maxlength="25"> 
						</td>
						<td class="itemsearchtd2">
							<span class="red">*&nbsp;必输项</span>
						</td>
					</tr>
					<tr>
						<th></th>
						<td><input type="submit" name="button2" value="提交">
							&nbsp;<input type="Button" name="button3" value="返回" onClick="history.back();">
						</td>
					</tr>
				</table>
			</form>		
		</div>
	</div>
{% endblock %}